@tailwind base;
@tailwind components;
@tailwind utilities;


/* Smooth fade + slide animation for dropdown */
.dropdown-animate {
  animation: fadeSlide 0.25s ease forwards;
  transform-origin: top;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(-12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


/* .animate-slideDown {
  animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
} */

